extends layout

block content

  h1(class="title") #{section}!
  
  h3 Categories
  div(class='product-container')
    each item in products
      div(class="product-info")
        figure
          img(src=`${item.image}`, alt="tech")
        p= item.description
        p= item.price
